<div class="container">
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-1">Yatta</h1>
      <p class="lead text-muted"><%= t("other_pages.simple_application_for_managing_learning_materials") %></p>
      <p class="text-muted"><%= t("other_pages.you_can_search_for_books_and_Qiita_articles_and_easily_register_them_as_teaching_materials") %></p>
      <p class="text-muted"><%= t("other_pages.you_can_keep_track_of_the_days_and_pages_studied_by_recording_the_information_for_each_material") %></p>
      <% unless user_signed_in? %>
      <p>
        <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path,class: "btn btn-primary my-2" %>
        <%= link_to t("devise.shared.links.sign_in"), new_user_session_path,class: "btn btn-secondary my-2" %>
        <%= link_to t("other_pages.guest_login"), users_guest_sign_in_path, method: :post, class: "btn btn-info my-2" %>
      </p>
      <% end %>
    </div>
  </section>
</main>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t("view.material.new") %></h2>
      <p class="text-muted"><%= t("other_pages.first_you_need_to_register_your_teaching_material_information") %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'material_new.png', class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail" %>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= t("view.material.search_for_materials_before_registering") %></h2>
      <p class="text-muted"><%= t("other_pages.if_it's_a_book_or_Qiita_article_you_can_search_for_it_and_then_register_the_material") %></p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag 'material_search.png', class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail" %>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t("view.work.record") %></h2>
      <p class="text-muted"><%= t("other_pages.once_you've_registered_the_material_keep_track_of_the_learning_information_for_that_material!") %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'work_new.png', class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail" %>
    </div>
  </div>
  <hr class="featurette-divider">
</div>