<div class="container">
  <div class="card">
    <div class="card-header"><%= t("view.work.new") %></div>
    <div class="card-body">

      <div class="mt-1" >
        <% if @work.errors.present? %>
          <% @work.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="mt-1" >
        <%= form_with(model: @work,local: true) do |f| %>
          <div class="form-group">
            <%= f.label t("activerecord.attributes.material.title"),id: 'title' %>
            <% if params[:material_id].present? %>
              <%= f.select :material_id, [[@materials.title,@materials.id]], {}, class: "form-control" %>
            <% else %>
              <%= f.select :material_id, @materials.map{ |material| [ material.title, material.id]}, {include_blank: "教材を選択してください" }, class: "form-control" %>
            <% end %>
            <small class="help-block"><%= t("view.work.if_you_have_not_yet_registered_your_course_materials_please_do_so_first") %></small>
          </div>
          <div class="form-group">
            <%= f.label t("activerecord.attributes.work.do_on"),id: 'do_on' %>
            <%= f.date_field :do_on, value: Date.today, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label t("activerecord.attributes.work.start"),id: 'start' %>
            <%= f.text_field :start, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label t("activerecord.attributes.work.finish"),id: 'finish' %>
            <%= f.text_field :finish, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label t("activerecord.attributes.work.content"),id: 'content' %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <%= f.submit t("helpers.submit.create"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>