<div class="container">
  <div class="card">
    <div class="card-header"><%= t("view.work.show") %></div>
    <table class="table mb-0">
      <tr>
        <th><%= t("activerecord.attributes.material.title") %></th>
        <td><%= link_to @work.material.title, material_path(@work.material) %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.work.do_on") %></th>
        <td><%= @work.do_on %></td>
      </tr>
      <tr>
        <th><%= t("view.work.amount") %></th>
        <td><%= @work.start %> 〜 <%= @work.finish %></td>
      </tr>
      <tr>
        <th><%= t("activerecord.attributes.work.content") %></th>
        <td><%= @work.content %></td>
      </tr>
      </tbody>
    </table>
    <div class="card-body">
      <%# 学習中の場合は、編集ボタンを表示する %>
      <% if policy(@work).status_learning? %>
        <%= link_to t("helpers.submit.edit"), edit_work_path(@work), class: "btn btn-primary", role: "button"  %>
      <% end %>
      <%= link_to t("helpers.submit.delete"), @work, method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: "btn btn-danger", role: "button" %>
    </div>
  </div>
</div>