<div class="container">
  <div class="card card-body bg-light">
    <%= t("view.work.show") %>
  </div>

  <div class="mt-4" >
    <table class="table table-striped">
  <tbody>
  <tr>
    <th><%= t("activerecord.attributes.material.title") %></th>
    <td><%= @work.material.title %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.work.do_on") %></th>
    <td><%= @work.do_on %></td>
  </tr>
  <tr>
    <th><%= t("view.work.amount") %></th>
    <td><%= @work.start %>　〜　<%= @work.finish %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.work.content") %></th>
    <td><%= @work.content %></td>
  </tr>
  </tbody>
    </table>
    <%= link_to t("helpers.submit.edit"), edit_work_path(@work), class: "btn btn-primary", role: "button"  %>
    <%= link_to t("helpers.submit.delete"), @work, method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: "btn btn-primary", role: "button" %>
  </div>
</div>