<div class="container">
  <div class="card card-body bg-light">
    学習詳細
  </div>

  <div class="mt-4" >
    <table class="table table-striped">
  <tbody>
  <tr>
    <th>教材名</th>
    <td><%= @work.material.title %></td>
  </tr>
  <tr>
    <th>学習記録日</th>
    <td><%= @work.do_on %></td>
  </tr>
  <tr>
    <th>学習量（ページ数・単元等）</th>
    <td><%= @work.start %>　〜　<%= @work.finish %></td>
  </tr>
  <tr>
    <th>学習内容</th>
    <td><%= @work.content %></td>
  </tr>
  </tbody>
    </table>
    <%= link_to "編集", edit_work_path(@work), class: "btn btn-primary", role: "button"  %>
    <%= link_to "削除", @work, method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: "btn btn-primary", role: "button" %>
  </div>
</div>