<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand">
        <span class="navbar-brand mb-0 h1">Yatta</span>
      </a>
      <% if user_signed_in? %>
      <form class="form-inline">
        <%= link_to t("view.material.new"), new_material_path, class: "btn btn-sm ml-2 btn-outline-light" %>
        <%= link_to t("view.work.record"), new_work_path, class: "btn btn-sm ml-2 btn-outline-light" %>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to t("view.material.index"), materials_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("view.work.index"), works_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("view.user.info"), user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("admin.misc.log_out"), destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% else %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("devise.shared.links.sign_in"), new_user_session_path,class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="container">
  <div class="mt-2" >
    <% if user_signed_in? %>
      <p><%= t("view.material.search_for_materials_before_registering") %></p>
      <%= form_with url: book_search_materials_path, method: :get,class: "form-inline  ", local: true do |f| %>
        <div class="form-group mb-2 h7">
          <%= f.label t("view.material.book"), class: "form-control-sm" %>
        </div>
        <div class="form-group mb-2">
          <%= f.text_field :material, name: "keyword", placeholder: t("view.material.please_keyword"), class: "form-control", id: "book_search" %>
        </div>
        <button type="submit" class="btn btn-secondary mb-2 ml-2" id="book_submit"><%= t("view.material.search") %></button>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="container">
    <div class="mt-2" >
      <% if user_signed_in? %>
        <%= form_with url: qiita_search_materials_path, method: :get,class: "form-inline  ", local: true do |f| %>
          <div class="form-group mb-2 h7">
            <%= f.label t("view.material.qiita"), class: "form-control-sm" %>
          </div>
          <div class="form-group mb-2">
            <%= f.text_field :material, name: "keyword", placeholder: t("view.material.please_title"), class: "form-control", id: "qiita_search" %>
          </div>
          <button type="submit" class="btn btn-secondary mb-2 ml-2" id="qiita_submit"><%= t("view.material.search") %></button>
        <% end %>
      <% end %>
    </div>
  </div>

</header>