<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand">
        <span class="navbar-brand mb-0 h1">Yatta</span>
      </a>
      <% if user_signed_in? %>
      <form class="form-inline">
        <%= link_to t("view.material.new"), new_material_path, class: "btn btn-sm ml-2 btn-outline-light" %>
        <%= link_to t("view.work.record"), new_work_path, class: "btn btn-sm ml-2 btn-outline-light" %>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to t("view.material.index"), materials_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("view.work.index"), works_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("view.user.info"), user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("admin.misc.log_out"), destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% else %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("devise.shared.links.sign_in"), new_user_session_path,class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>

  <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <%= form_with url: search_materials_path, method: :get,class: "form-inline", local: true do |f| %>
          <%= t("view.material.search_for_materials_before_registering") %>
          <%= f.select :search_id,options_for_select([ [t("view.material.book"),1], [t("view.material.qiita"), 2] ],@search_id), {include_blank: t("view.material.search_type") },class: "form-control mx-sm-2" %>
          <%= f.text_field :search_keyword, name: "search_keyword", placeholder: t("view.material.please_keyword"), value: @search_keyword, class: "form-control mx-sm-2" %>
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
        <% end %>
      </div>
    </nav>
  <% end %>

</header>