<div class="container">
  <div class="mt-4" >
    <% if @material.errors.present? %>
      <% @material.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4" >
    <%= form_with(model: material,local: true) do |f| %>
      <div class="form-group">
        <%= f.label t("activerecord.attributes.material.title"),id: 'title' %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t("activerecord.attributes.material.category"),id: 'category' %>
        <%= f.select :category, Material.categories.keys.map {|k| [I18n.t("enums.material.category.#{k}"), k]}, {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t("activerecord.attributes.material.path"),id: 'path' %>
        <%= f.text_field :path, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t("view.tag.tags"),id: 'tag_list' %>
        <%= f.text_field :tag_list, value: @material.tag_list.join(','), class: "form-control" %>
        <small class="help-block"><%= t("view.tag.when_registering_multiple_tags,please_separate_them_with_a_comma") %></small>
      </div>
      <div class="form-group">
        <%= f.label t("activerecord.attributes.material.status"),id: 'status' %>
        <%= f.select :status, Material.statuses.keys.map {|k| [I18n.t("enums.material.status.#{k}"), k]}, {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t("activerecord.attributes.material.note"),id: 'note' %>
        <%= f.text_area :note, class: "form-control" %>
      </div>
      <%= f.submit t("helpers.submit.create"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>