<div class="container">
  <div class="card card-body bg-light">
    検索結果（最大30件まで表示されます）
  </div>

  <% if params[:keyword].size >= 2 && @books.present? %>
    <div class="mt-4" >
      <%= paginate @books, class: "paginate" %>
      <%= page_entries_info @books %>
    </div>
    <div class="mt-4" >
      <% @books.each do |book| %>
        <div class="card mb-3">
          <div class="row no-gutters">
          <div class="col-md-2">
            <img src="<%= book.large_image_url %>">
          </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">教材名：<%= link_to book.title, book.item_url %></h5>
                <p class="card-text">作者：<%= book.author %></p>
                <p class="card-text">
                  <%= link_to "教材登録", new_material_path(title:book.title,author:book.author,path:book.item_url,category:"book"), class: "btn btn-primary"%>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% elsif params[:keyword].size >= 2 %>
    <div class="mt-4" >
      <p>検索にヒットするものがありませんでした</p>
    </div>
  <% else %>
    <div class="mt-4" >
      <p>検索ワードは２文字以上入力してください</p>
    </div>
  <% end %>
</div>