<h1>教材一覧</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title, "キーワード検索" %><br>
  <%= f.search_field :title_or_tags_name_cont %><br>
  <small class="help-block">※教材名・タグ名が検索できます</small><br>
  <small class="help-block">※複数のキーワードでの検索はできません</small><br>
  <%= f.label :category_eq, "カテゴリー" %>
  <%= f.select :category_eq, Material.categories.map { |k, v| [Material.categories_i18n[k], v]},{include_blank: '選択ボックス'} %>

  <%= f.label :works_status_eq, "ステータス" %>
  <%= f.select :works_status_eq, Work.statuses.map { |k, v| [Work.statuses_i18n[k], v]},{include_blank: '選択ボックス'} %>

  <%= f.submit "検索" %>
<% end %>

<%= paginate @materials, class: "paginate"  %>
<%= page_entries_info @materials %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>教材名</th>
    <th>カテゴリー</th>
    <th>最新の学習記録日</th>
    <th>最新の学習量（開始ページ）</th>
    <th>最新の学習量（終了ページ）</th>
    <th>最新の学習ステータス</th>
    <th>タグ</th>
  </tr>
  </thead>
  <tbody>
  <% @materials.each do |material| %>
    <tr>
      <td><%= link_to material.title, material_path(material) %></td>
      <td><%= material.category %></td>
      <% if material.works.present? %>
        <% last_updated_work = material.works.order(updated_at: :desc).limit(1) %>
        <% last_updated_work.each do |last_work| %>
          <td><%= last_work.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= last_work.start %></td>
          <td><%= last_work.end %></td>
          <td><%= last_work.status %></td>
        <% end %>
      <% end %>
      <td><%= render 'materials/tag_list', tag_list: material.tag_list %></td>
      <td><%= link_to "編集", edit_material_path(material) %></td>
      <td><%= link_to "削除", material, method: :delete, data: { confirm: "本当に削除してもいいですか？" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>