<div class="container">
  <div class="card card-body bg-light">
    <%= t("view.material.qiita_search_results_(up_to_100_results_displayed)") %>
  </div>

  <% if @items.class == String %>
    <div class="mt-4" >
      <p><%= @items %></p>
    </div>

  <% else %>
    <div class="mt-4" >
      <%= paginate @items, class: "paginate" %>
      <%= page_entries_info @items %>
    </div>
    <div class="mt-1" >
      <table class="table">
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item[:title], item[:url], target: '_blank' %></td>
            <td>(<%= item[:likes_count] %><%= t("view.material.good") %>)</td>
            <td><%= link_to t("helpers.submit.create"), new_material_path(title:item[:title],path:item[:url],category:"web"), class: "btn btn-sm btn-primary"%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>