<!DOCTYPE html>
<html>
  <head>
    <title>YataApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= link_to "教材一覧", materials_path %>
    <%= link_to "教材投稿", new_material_path %>
    <%= link_to "学習を記録する", new_work_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "会員情報", user_path(current_user) %>
    <p>教材検索（書籍のみ）※表示されるのは最大30件です</p>
    <%= form_tag('/materials/book_search', method: :get) do %>
      <%= text_field_tag :material, "",  id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%>
      <button title="検索" type="submit">検索</button>
    <% end %>
  <% else %>
    <%= link_to "アカウントを登録する", new_user_registration_path %>
    <%= link_to "ログインする", new_user_session_path %>
  <% end %>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
